.table-kategori{
	width: 600px;
	margin-top: 20px;
}
.fa-pencil-alt:hover{
	color: #2196F3;
	font-size: 18px;
}
.fa-trash-alt{
	color: #E53935;
}

.fa-trash-alt:hover{
	color: red;
	font-size: 18px;
}
.table-hover tr:hover td
{ 	
	background: #C5CAE9;
	font-weight: bold;
}

/*edit_cs*/
.card-profil{
	margin-top: 50px;
	margin-left: 20px;
	width: 60%;
	background-color: #C5CAE9;
}
.card-body-profil{
	padding-right: 60px;
}
.form-control{
	margin-bottom: 10px;
	margin-left: 20px;
	border-radius: 2px;
}
.btn-edit{
	margin-top: 10px;
	margin-left: 20px;
	border-radius: 2px;
}
.card-header{
	background-color: #7986CB;
}
.edit{
	width: 100%;
}
.fa-arrow-left{
	margin-right: 50px;
}
.fa-arrow-left{
	color: black;
}
.fa-arrow-left:hover{
	font-size: 18px;
	font-weight: bold;
}