/* ---------------------------------------------------
    Dashboard
----------------------------------------------------- */
.dashboard {
    height: 100%;
    margin: 0;
    width: 100%;
}

.semua_ruang {
    text-align: center;
    padding: 20px;
    margin: 5 50 5 50;
}

.semua_ruang h4 {
    color: rgb(11, 115, 119);
    margin-bottom: 20px;
    font-weight: bold;
}

.ruang {
    margin: 16px;
    padding: 12px;
    width: 210px;
    height: 220px;
    color: white;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ruang_belum {
    background-color: #E53935;
}

.ruang_sudah {
    background-color: #4CAF50;
}

.ruang h1 {
    font-size: 24px;
    padding: 8px;
    background-color: rgb(34, 34, 34);
    border-radius: 4px;
}

.ruang h2 {
    font-size: 25px;
}
.ruang h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

.ruang a {
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    font-size: 15pt;
    color: rgb(34, 34, 34);
    background-color: #fddf7c;
    font-weight: bold;
}

.flexing {
    justify-content: center;
    border-top: 3px solid black;
}

.tombol_back {
    margin: 0;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tombol_back a {
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 23px;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 143, 143);
}

.bukti {
    background-color: rgb(247, 247, 247);
    border: 3px solid rgb(161, 110, 0);
}

.foto {
    margin: 20px;
    max-width: 300px;
    border: 5px solid rgb(165, 142, 40);
}

.gambar_bukti {
    justify-content: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media  {
    #sidebar {
        margin-left: 250px;
    }
    #sidebar.active {
        margin-left: -250px;
    }
    #sidebarCollapse span {
        display: none;
    }
}
