/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386d5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    Dasboard
----------------------------------------------------- */
.dashboard {
    margin: 0;
    width: 100%;
}

.semua_ruang {
    text-align: center;
    padding: 20px;
    margin: 5 50 5 50;
}

.semua_ruang h4 {
    color: rgb(11, 115, 119);
    margin-bottom: 20px;
    font-weight: bold;
}

.ruang {
    margin: 20px;
    background-color: rgb(0, 124, 0);
    padding: 10px;
    width: 210px;
    height: 220px;
    color: white;
}

.ruang_belum {
    background-color: rgb(192, 77, 0);
}

.ruang_sudah {
    background-color: rgb(47, 161, 47);
}

.ruang h1 {
    font-size: 25px;
    border: 2px solid rgb(163, 161, 161);
    background-color: rgb(34, 34, 34);
}

.ruang h2 {
    font-size: 25px;
}
.ruang h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

.ruang a {
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    font-size: 15pt;
    color: rgb(34, 34, 34);
    background-color: #fddf7c;
    font-weight: bold;
}

.flexing {
    justify-content: center;
    border-top: 3px solid black;
}

.tombol_back {
    margin: 0;
    width: fit-content;
}

.tombol_back a {
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 23px;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 143, 143);
}

.bukti {
    padding-top: 10px;
    background-color: rgb(247, 247, 247);
    border: 3px solid rgb(161, 110, 0);
}

.profil-cs {
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: rgb(142, 255, 255);
    font-weight: bold;
    border-bottom: 4px solid rgb(142, 255, 255);
}

.profil-cs .fotoCS {
    margin-bottom: 10px;
    max-width: 100px;
    border-radius: 1000px;
}

.upload {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.upload p {
    margin-bottom: 0;
    color: rgb(2, 0, 128);
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.gambar_bukti {
    justify-content: center;
}

.bukti_foto {
    height: 255px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
    align-items: center;
    justify-content: space-between;
}

.bukti_foto img {
    margin: 5px;
    height: 200px;
    min-width: 108px;
}

.bukti_foto a {
    margin-bottom: 15px;
    padding: 6px;
    color: white;
    background-color: rgb(214, 15, 15);
    font-weight: bold;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.568);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Pindahan dari manager/cs.css
----------------------------------------------------- */

.table-kategori {
    width: 600px;
    margin-top: 20px;
    margin-left: 260px;
}
.fa-pencil-alt:hover {
    color: #2196f3;
    font-size: 18px;
}
.fa-trash-alt {
    color: #e53935;
}

.fa-trash-alt:hover {
    color: red;
    font-size: 18px;
}
.table-hover tr:hover td {
    background: #c5cae9;
    font-weight: bold;
}

.card-profil {
    margin-top: 50px;
    margin-left: 20px;
    width: 60%;
    background-color: #c5cae9;
}
.form-control {
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 2px;
}

.btn-edit {
    margin-top: 10px;
    margin-left: 500px;
    border-radius: 2px;
}

.card-header {
    background-color: #7986cb;
}

.edit {
    width: 80%;
}
