html,
body {
  height: 100%;
}

header {
  padding: 20px;
  background-color: rgb(255, 234, 163);
  width: 100%;
  height: 60px;
}

header .judul {
  color: black;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-top: -6px;
}
.judul span {
  color: #ff6d00;
}
.btn {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.btn-logout {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  margin-top: -35px;
  margin-right: 30px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
}
.btn-home {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  margin-top: -35px;
  margin-right: 120px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
}

.menu {
  background-color: #ffe082;
  padding-top: 30px;
  padding-right: 0;
  max-width: 300px;
}
.menu h4 {
  color: black;
  margin-top: 40px;
  margin-bottom: 40px;
}
.active {
  background: #f57f17;
}
.menu a {
  color: black;
  display: block;
  width: 100%;
  line-height: 60px;
  padding-left: 40px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.5s;
  transition-property: background;
}
.menu a:hover {
  background: #f9a825;
}
.menu i {
  padding-right: 10px;
}

/* new */

.dashboard {
  height: 100%;
  margin: 0;
  width: 100%;
}

.semua_ruang {
  background-color: rgb(255, 246, 209);
  text-align: center;
  padding: 20px;
  align-content: center;
}

.semua_ruang h4 {
  color: rgb(11, 115, 119);
  margin-bottom: 20px;
  font-weight: bold;
}

.ruang {
  margin: 20px;
  background-color: rgb(0, 124, 0);
  padding: 10px;
  width: 200px;
  height: 200px;
  color: white;
}

.ruang_belum {
  background-color: rgb(192, 77, 0);
}

.ruang_sudah {
  background-color: rgb(47, 161, 47);
}

.ruang h1 {
  border: 2px solid rgb(163, 161, 161);
  background-color: rgb(34, 34, 34);
}

.ruang h2 {
  font-size: 25px;
}
.ruang h3 {
  font-size: 15px;
  margin-bottom: 20px;
}

.ruang a {
  text-decoration: none;
  padding: 5px 20px 5px 20px;
  font-size: 18pt;
  color: rgb(34, 34, 34);
  background-color: #fddf7c;
  font-weight: bold;
}

.flexing {
  justify-content: left;
  border-top: 3px solid black;
}

.tombol_back {
  margin: 0;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tombol_back a {
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 23px;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 143, 143);
}

.bukti {
  background-color: rgb(247, 247, 247);
  border: 3px solid rgb(161, 110, 0);
}

.foto {
  margin: 20px;
  max-width: 300px;
  border: 5px solid rgb(165, 142, 40);
}

.gambar_bukti {
  justify-content: center;
}
